<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/patient-list" class="nav-link" routerLinkActive="active">
            Patient list
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/visit-list" class="nav-link" routerLinkActive="active">
            Visit list
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/patient-add" class="nav-link" routerLinkActive="active">
            Patient add
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active">
            Login
        </a>
      </li>
    </ul>
  </div>
</nav>
  <router-outlet></router-outlet>